# Browserslist config file
# See https://github.com/browserslist/browserslist

# Supported browsers in production
[production]
>0.3%
not dead
not op_mini all
not ie <= 11

# Supported browsers in development
[development]
last 1 chrome version
last 1 firefox version
last 1 safari version 