.tournament-bracket {
    text-align: center;
    margin: 20px;
  }
  
  .bracket {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  
  .bracket-match {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .left-side, .right-side {
    width: 45%;
  }
  
  .bracket-item {
    margin: 5px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .bracket-item p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  