name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-frontend:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v1
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        
    - name: Install Dependencies
      run: |
        npm config set ignore-scripts true
        npm ci --progress=false --loglevel=error --fetch-retries=3
        npm config set ignore-scripts false
      
    - name: Build
      run: npm run build:prod
      
    - name: List files
      run: |
        mkdir -p dist
        ls -la dist
        
    # Временно отключаем этот шаг из-за проблем с загрузкой действия
    # - name: Archive build
    #   uses: actions/upload-artifact@v1
    #   with:
    #     name: build
    #     path: dist
    #     retention-days: 3
